.flag-container {
  position: relative;
  /* overflow: hidden; */
}

.overlay {
  position: relative;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.flag-container:hover .overlay {
  opacity: 1;
}
